.heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

body {
    background-size: cover;
    background-position: center;
}

a {
    font-size: 15px;
    background-color: cadetblue;
    color: aliceblue;
    width: 90%;
    padding: 10px;
}