.heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

body {
    background-size: cover;
    background-position: center;
    text-align: center;
}

a {
    font-size: 15px;
    background-color: cadetblue;
    color: aliceblue;
    width: 90%;
    padding: 10px;
}
canvas{
    border-style: ridge;
    border-color: aqua;
    border-width: 5px;
}